.row{
  padding-top: 20px;
}

.main-box{
  width: 60%;
  margin: auto;
}

.container{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
}

.rowHead{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.heading {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}